<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Blog</title>

	<script src="deps/angular.min.js"></script>
</head>
<body>
	<div>
		Name: {{ name }}
		<br />
		<input type="text" ng-model="name" />
	</div>

	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
